
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h1>Welcome to <font color="maroon">Clouds Intro</font> talk!</h1>
			</div>
		</div>

		<div class="span7">

			<div class="hero-unit" style="margin:0px; padding: 10px;">
				<h3>Plan for today:</h3>
				<p></p>

				<p><span class="badge badge-info">1</span> What is 
				<span class="label label-info">Cloud Computing</span> anyway? Examples, definition.
				</p>

				<p><span class="badge badge-success">2</span> Why this concept has become so popular?
				Anything intrinsically new out there?
				</p>
	
				<p><span class="badge badge-warning">3</span> 
				<span class="label label-warning">Hands-on</span> example of clouds benefits.
				</p>

				<p><span class="badge badge-important">4</span> 
				Behind the scenes, or what's inside the cloud. Recap, what to do when more flexibility required
				</p>
			</div>

		</div>

		<div class="span5">

			<img align="right" alt="Cloud Intro" src="logo.png" width="95%" height="95%" />

		</div>

	</div>


	<div class="row">
		<div class="page-header">
			<h1>
				<small>Dynamic content below, to avoid caching</small></h1>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<p></p>
			<div class="alert alert-success">
				<center><p>
					This page was opened on: <br>
				       	<h1><%= Time.now.utc %></h1>
				</p></center>
			</div>
		</div>
	</div>
